@font-face {
    font-family: 'edo';
    src: local('edo'), url('static/fonts/edo.woff') format('woff');
}

@font-face {
    font-family: 'shantell-regular';
    src: url('static/fonts/ShantellSans-Regular.woff') format('truetype');
}

/* ====================================
            General styles
 =====================================*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body a {
    color: white;
    text-decoration: underline;
}

main {
    padding: 20px;
}

.title {
   font-family: 'edo';
   font-size: 6vw;
   color: #fff;
   text-align: center;
   margin-bottom: 20px;
}

@media (max-width: 600px) {
    .title {
        font-size: 8vw; /* Adjust as needed */
        margin-top: 20px; /* Adjust as needed */
        margin-bottom: 5px; /* Adjust as needed */
    }
}

.image-scaling-container {
    overflow: hidden;    /* Hide the parts of the image that don't fit */
    position: relative;  /* In case you want to use more positioning later */
}

.image-scaling-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* This is the key property that crops the image appropriately */
    object-position: center;
    display: block;      /* Remove potential unwanted spacing around images */
}


/* ====================================
                Header
 =====================================*/

.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-bottom: 1vw;
    height: 10vw;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Make the logo fill its container vertically */
    width: 100%; /* Set the width of the logo */
}

.logo img {
    max-height: 100%; /* Set the height of the logo */
    max-width: 100%; /* Allow the width to adjust automatically */
    object-fit: contain; /* Ensure that the entire image is visible within its container */
}

.header .logo a {
    color: #FF0000;
    text-decoration: none;
}

@media (max-width: 600px) {
    .header {
        height: 30vw; /* Adjust as needed */
    }

    .logo {
        font-size: 8vw; /* Adjust as needed */
    }
}



/* ====================================
              Menu
 =====================================*/

.burger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1000;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
}

.menu {
    position: relative;
    overflow-y: auto; /* Added this line to make the menu scrollable */
}

.dropdown-menu{
    display: none;
    position: fixed;
    right: 0;
    transform: translateX(-10%); /* Move it slightly to the left */
    top: 60px;
    background-color: rgba(35,35,35,0.5);
    min-width: 200px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    scrollable: true;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Add this line */
    text-align: center; /* Add this line */
}

.dropdown-menu li {
    color: #fff;
    font-size: 1.7vw; /* Adjust as needed */
    font-family: "shantell-regular";
    border-bottom: 2px solid #fff;
    width: fit-content;
    margin: auto;
    padding: 10px; /* Adjust as needed */
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .dropdown-menu {
        transform: translateY(15%);
        min-width:80px;
        top:12px;
        background-color: #000;
    }

    .dropdown-menu li {
        font-size: 4vw; /* Adjust as needed */
    }
}

/* ====================================
              Carousel
 =====================================*/

.carousel {
    width: 95%;
    align: center;
    margin: auto;
    padding-bottom: 30px;
}

.carousel-inner {
    width: 33%; /* Make the carousel cover the center 1/3 of the screen */
    margin: auto; /* Center the carousel */

}

.carousel-item {
    margin: 0 5px; /* Add horizontal margins to bring the images closer together */
    display: block !important; /* Ensure the image is displayed */
}

.carousel-item .image-scaling-container {
    display: inline-block;
    width: 22vw;
    height: 32vw;
}

.carousel-item img {
    border-radius: 10px; /* Add rounded corners to the images */
    border: 2px solid white; /* Add a border around the images */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #FF0000;
    border: none;
    font-size: 50px;
    z-index: 998;
}

.carousel-control-prev {
    left: -15%; /* Adjust as needed */
}

.carousel-control-next {
    left: 100%; /* Adjust as needed */
}


@media (max-width: 600px) {
    .carousel {
        width: 100%; /* Adjust as needed */
    }

    .carousel-item .image-scaling-container {
        display: inline-block;
        width: 70vw;
        height: 105vw;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 30px; /* Adjust as needed */
    }
}


/* ====================================
            Video section
 =====================================*/

.video-container {
    width: 93%;
    margin: 0 auto; /* center the video */
    border: 2px solid white; /* Add a border around the video */
    border-radius: 10px; /* Add rounded corners to the video */
}

.video-container video {
    width: 100%; /* make the video fill its container */
    height: auto; /* maintain the video's aspect ratio */
}

@media (min-width: 1000px) {
    .video-container video {
        height: 49vw; /* Adjust as needed */
    }
}

.video-container-detail {
    width: 100%;
    margin-top: 10px;
}

.video-container-detail video {
    height: 70vh;
    width: 100%;
    border: 2px solid #fff; 
    border-radius: 10px;
}

.video-container-detail img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #fff; 
    border-radius: 10px;
}

@media (max-width: 600px) {
    .video-container {
        width: 100%; /* Adjust as needed */
        height: 100%; /* Adjust as needed */
    }

    .video-container video {
        width: 100%; /* Adjust as needed */
        height: auto; /* Maintain the video's aspect ratio */
    }

}

/* ====================================
            Join us section
 =====================================*/
.join-us {
    text-align: center;
    padding: 60px 0;
}

.join-us a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 24px;
    margin-right: 15px;
}

.join-us a:hover {
    background-color: #fff;
    color: #000;
}

.apply-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* New property */
    margin-top: 20px;
    font-family: 'shantell-regular';
    font-size: 1.5vw;
    color: white;
}

.uniform-img {
    width: 100%;
    height: 100%; /* Changed from auto */
    object-fit: cover;
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 10px;
}

.apply-container p{
    display: flex;
    justify-content: center;
}

.apply-container a{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .apply{
        padding: 0;
    }

    .join-us {
        padding: 20px 0; /* Adjust as needed */
    }

    .join-us a {
        font-size: 8vw; /* Adjust as needed */
    }

    .apply-container {
        flex-direction: column; /* Stack the images vertically */
        margin: 0; /* Remove margin */
    }

    .uniform-img {
        width: 100%; /* Adjust as needed */
        height: auto; /* Maintain the image's aspect ratio */
    }

    .apply-container p{
        font-size: 4vw;
    }

    .apply-container a{
        font-size: 4vw;
    }
}



/* ====================================
          Follow us section
 =====================================*/

.follow-us p{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'shantell-regular';
}

.follow-us .social-links {
    text-align: center;
    padding: 20px 0;
}

.follow-us .social-links a {
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 15px;
}

.follow-us .social-links a:hover {
    background-color: #fff;
    color: #000;
}

/* ====================================
            About us page
 =====================================*/
.about p{
    color: #fff;
}

.about .description {
    font-size: 2vw !important; /* Use viewport width units to make the font size responsive */
    width: 90%; /* Use a percentage to make the width responsive */
    margin: auto;
    text-align: center; /* Add this line */
}

@media (max-width: 600px) {

    .about {
       padding: 0; /* Adjust as needed */
    }

    .about main{
        padding: 0;
    }

    .about .container {
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .about .row {
        flex: 0 0 100%; /* Make the row take up the full screen width */
        margin: 0; /* Remove margin */

    }

    .about .col-md-12 {
        flex: 0 0 100%; /* Make the column take up the full screen width */
        max-width: 100%; /* Make the column take up the full screen width */
        padding: 0; /* Remove padding */
    }

    .about p {
         margin: 0;
    }

    .about .description {
        font-size: 5vw !important; /* Use viewport width units to make the font size responsive */
        width: 90%; /* Use a percentage to make the width responsive */
        margin: auto;
        text-align: center; /* Add this line */
    }
}

/* ====================================
              Team page
 =====================================*/
.team-section {
    display: flex;
    justify-content: space-around;
    color: white;

}

.team-member {
    text-align: center;
    width: 100%; /* On small screens, make each team member take up the full width */
}

.team-member img {
    border: 2px solid white;
}

.team-member .image-scaling-container {
    display: inline-block;
    width: 20vw;
    height: 32vw;
}

.name, .role, .description-list, .credits-list, .websites-list, .credits, .copyright, .description, p{
    font-family: 'shantell-regular';
}

.name {
    font-size: 4vw;
}

.role {
    font-size: 3vw;
}

.team-member .description {
    font-size: 2vw;
    width: 90%;
    margin: 0 auto;
}

/* Specific styles for the new team layout */
.new-team-layout {
    display: flex;
    justify-content: space-between; /* This spaces the team members evenly */
    width: 50%; /* Adjust this to control how far they spread apart horizontally */
    margin: 0 auto; /* Center the entire section horizontally */
}

.new-team-layout .team-member {
    display: flex;
    flex-direction: column; /* Ensures text stays below the images */
    align-items: center; /* Center-aligns text and images together */
    text-align: center; /* Center text below each image */
    margin: 0 20px;
}

.new-team-layout .team-member img {
    /* Keep the original image size, no need to resize */
    display: block;
}


.experience-text {
    text-align: center;
    margin-top: 20px; /* Add some space between the images and text */
    font-size: 1.5vw;
    color: #fff;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .team-section {
        flex-direction: column !important; /* Stack the team members vertically */
        align-items: center; /* Center the team members */
    }

    .team-member {
        text-align: center;
        width: 100% !important; /* On small screens, make each team member take up the full width */
        margin-top: 20px; /* Add some space between the team members */
    }

    /* Larger images container on mobile */
    .team-member .image-scaling-container {
        display: inline-block;
        width: 50vw;
        height: 80vw;
    }

    .team-member .name {
        font-size: 6vw !important; /* Use viewport width units to make the font size responsive */
    }

    .team-member .role {
        font-size: 5vw !important; /* Use viewport width units to make the font size responsive */
    }

    .team-member .description {
        font-size: 4vw !important; /* Use viewport width units to make the font size responsive */
        width: 90%; /* Use a percentage to make the width responsive */
        margin: 0 auto;
    }

    .experience-text {
        text-align: center;
        margin-top: 20px; /* Add some space between the images and text */
        font-size: 4vw !important;
        color: #fff;
    }
}

/* ====================================
              Contact page
 =====================================*/
.contact-us{
    justify-content: center;
    align-items: center;
    color: white;
    width: 30%;
    margin: auto;
}

.contact-form{
    width: 50%;
}

.contact-us .form-group {
    margin-bottom: 10px;
}

.contact-us .form-group label{
    font-size: 1.5vw;
    font-family: 'shantell-regular';
}

.contact-us .form-group input, .contact-us .form-group textarea {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #232323;
    color: #fff;
}
.contact-us .form-group input:focus, .contact-us .form-group textarea:focus {
    outline: #FF0000;  /* Remove the default outline */
    border: 1px solid #FF0000; /* Add a red border */
}

.contact-us #submit-btn {
    font-family: 'shantell-regular';
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: auto;
}

.icon-container img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.icon-row {
    margin: 10px auto; /* Adjust as needed */
}

.overlay-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    color: black;
    stroke: white;
    margin-right: 10px;
    font-size: 3.5vw;
}

.icon-text {
    color: black;
    font-size: 2vw;
    font-family: 'shantell-regular';
}

@media (max-width: 600px) {
    .contact-us {
        width: 100%; /* Adjust as needed */
    }

    .contact-form {
        width: 100%; /* Adjust as needed */
    }

    .contact-us .form-group label {
        font-size: 6vw; /* Adjust as needed */
    }

    .contact-us .form-group input,
    .contact-us .form-group textarea {
        font-size: 6vw; /* Adjust as needed */
    }

    .contact-us #submit-btn {
        display: block; /* Make the button a block element */
        margin: auto; /* Center the button */
    }

    .icon-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .icon {
        font-size: 8vw;
    }

    .icon-text {
        font-size: 4.75vw;
    }

}

/* ====================================
            Our Talent page
 =====================================*/
.talent-section {
    color: white;
    width: 69%;
    margin: auto;
    display: contents;
}

.talent-section img {
    overflow: hidden;
    border: 2px solid white; /* Add a red border around the images */
    border-radius: 10px; /* Add rounded corners to the images */
}

/* .talent-section a {
    width: auto; 
    height: 100%; 
} */

.talent-section .name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text */
    color: white; /* Make the text white */
    text-decoration: none !important; /* Remove the underline from the link */
    width: 100%; /* Make sure the width is set to 100% */
    padding: 0; /* Remove any padding */
    margin-bottom: 5px; /* Remove any margin */
    font-size: 3vw; /* Adjust as needed */
    max-font-size: 50px; /* Adjust as needed */
    min-font-size: 16px; /* Adjust as needed */
}

.talent-section .name:hover {
    text-decoration: none; /* Remove the underline from the link on hover */
}

.talent-section .col-lg-3 a, .col-md-6 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important; /* Remove the underline from the link */
}

.talent-main-img-container {
    object-fit: cover;
    object-position: center;
}

.talent-main-img-container .image-scaling-container {
    display: inline-block;
    width: 23vw;
    height: 37vw;
}

#pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: 'shantell-regular';
}

#pagination-container button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #232323; /* Change the background color */
    color: #fff; /* Change the text color */
    border: 2px solid #fff; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 1.2em; /* Increase the font size */
}

#pagination-container button:hover {
    background-color: #fff; /* Change the background color on hover */
    color: #232323; /* Change the text color on hover */
}

#pagination-container button:disabled {
    background-color: #232323; /* Change the background color of disabled buttons */
    color: #777; /* Change the text color of disabled buttons */
}

#pagination-container #page-info {
    margin: 0 10px;
    color: #fff; /* Change the text color */
    font-size: 1.2em; /* Increase the font size */
}

.talent-section .col-12 .col-sm-6 .col-md-6 .col-lg-3 a img {
    width: 100%; /* Make the image fill its container horizontally */
    min-height: 200px; /* Set a minimum height */
    height: 100%; /* Make the image fill its container vertically */
    object-fit: cover; /* Ensure that the entire image is visible within its container */
}

@media (max-width: 1000px) {
    .talent-main-img-container .image-scaling-container {
        display: inline-block;
        width: 44vw;
        height: 75vw;
    }
}

@media (max-width: 600px) {
    .talent-page .title {
        margin-bottom: 5px;
    }

    .talent-section {
        padding-top:5px;
        margin: 0;
        width: 100%; /* Adjust as needed */
    }

    .talent-section row {
        width: 100%; /* Adjust as needed */
    }

    .talent-section .name {
        font-size: 6vw; /* Adjust as needed */
    }

    .talent-section .col-md-6 {
        flex: 0 0 50%; /* Bootstrap 4 uses flexbox, so you can use flex to control the width */
        max-width: 50%; /* Maximum width is also 50% */
        padding-bottom: 2px; /* Add some space between the images */
    }

    .talent-section .col-md-3:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    .last-section .row{
        justify-content: center;
    }
}

/* ====================================
            Talent details
 =====================================*/
 .talent-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    margin: auto;
 }

.talent-detail .row {
  justify-content: center;
  display: flex;
  align-items: stretch; /* Make the children stretch to fill the container */
  width: 100%; /* Make the row take up the full screen width */
  height: auto; /* Make the row take up the full screen height */
}

 .talent-detail .img-fluid {
     width: 100%;
     margin: auto;
     border: 2px solid white; /* Add a border around the image */
     border-radius: 10px; /* Add rounded corners to the image */
 }

 .talent-detail .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }

 .talent-detail a:hover {
    background-color: #fff;
    color: #000;
 }

.talent-detail .properties-row {
   display: block;
}

.talent-detail .col {
  padding: 0 10px; /* Adjust as needed */
}

.talent-detail .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: left; /* Center the content vertically */
}

.talent-detail .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
}

@media (max-width: 600px) {
.talent-detail {
        width: 100%; /* Adjust as needed */
    }

    .talent-detail .title {
     margin-bottom: 20px;
    }

    .talent-detail .col-md-12 {
        /* Adjust the container size to match the scaled image */
        width: 77%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .talent-detail .full-width-row {
        width: 100%; /* Make the row take up the full screen width */
        margin: 0; /* Remove margin */

    }

    .talent-detail .full-width {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .talent-detail .img-fluid {
        transform: scale(1.4); /* Increase the size of the image by 50% */
        transform-origin: center; /* The transformation will scale from the top left corner of the image */
        border: 2px solid white; /* Add a border around the image */
    }

}

/* ====================================
         Talent details dropdown
 =====================================*/

.properties{
    display: flex;
    font-family: 'shantell-regular';
}

.properties-row{
    margin: 0 auto 20px auto;
}

.properties .properties-row .col{
    margin: 0 75px;
}

.properties .properties-row .col dropdown{
    display: flex;
    flex-direction: column;
}

.talent-detail .dropdown {
    position: relative; /* Make the dropdown container a positioning context */
}

.talent-dropdown-menu{
    display: none;
    position: absolute; /* Position the dropdown menu absolutely within the dropdown container */
    top: 75%; /* Position it just below the dropdown container */
    left: 0; /* Initially set to 0 */
    z-index: 1; /* Make it appear on top of other elements */
    background-color: rgba(0,0,0,0.7); /* Change the background color */
    overflow: auto;
}

#descriptionDropdown-menu{
    width: 66%;
}

.talent-dropdown-menu ul {
    list-style: none;
}

.talent-dropdown-menu li {
    color: #fff;
    font-size: 1.5vw; /* Adjust as needed */
    font-family: "shantell-regular";
    width: 100%; /* Make the list items take up the full width */
    margin: auto;
    padding: 0 10px; /* Adjust as needed */
    display: flex;
}

 @media (max-width: 600px) {

    .properties .properties-row .col{
        margin: auto;
    }

    .properties-row {
         display: flex;
         justify-content: center;
         align-items: center;
    }

    .dropdown-col {
        width: auto;
        display: inline-block;
    }

    .talent-dropdown-menu{
        top: 30%; /* Position it just below the dropdown container */
        padding: 0; /* Remove padding */
        width: 100%; /* Make the dropdown menu take up the full width */
    }

    #descriptionDropdown-menu{
        width: 100%;
    }

    .talent-dropdown-menu li {
        font-size: 3.75vw; /* Adjust as needed */
    }

    .talent-detail .video-row{
        padding: 0;
    }


     .talent-detail .video-container {
         width: 100%; /* Adjust as needed */
     }

 }

/* ====================================
          Terms & Conditions
 =====================================*/
 .terms {
    color: white;
    width: 100%;
    margin: auto;
 }

  .terms p, li, #inner-strong{
     color: white;
     width: 100%;
     margin: auto;
     font-size: 1.25vw;
  }

  .terms strong{
      font-size: 1.75vw;
  }

  @media (max-width: 600px) {
    .terms h2 {
        margin-top: 20px;
    }

    .terms p, li, #inner-strong{
        font-size: 3.5vw;
    }

     .terms strong{
          font-size: 4.9vw;
      }
  }


/* ====================================
                Footer
 =====================================*/
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .copyright,
footer .credits {
    font-size: .8vw;
}

@media (max-width: 600px) {
    footer .copyright,
    footer .credits {
        font-size: 2vw; /* Adjust as needed */
    }
}